<!-- navbar.component.html -->
<nav class="bg-blue-500 p-4">
  <div class="container mx-auto flex items-center justify-between">
    <a class="text-white text-xl font-bold" href="#">Mi Aplicación</a>

    <div>
      <ul class="flex items-center space-x-4">
        <li>
          <span class="text-white" *ngIf="username">Hola, {{ username }}!</span>
        </li>
        <li *ngIf="username">
          <button class="bg-red-500 text-white px-4 py-2 rounded" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
